<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet"  href="/static/css/style.css">
  <title>TODOアプリ</title>
</head>

<body>
  <main>
    <div id="title" class="title">タスク</div>
    <form name="f" method="post">
      <div class="text_area"><input type="text" name="new_text" id="new_text"></div>
      <table>
{% for task in tasks %}
        <tr>
          <td
            class="card"
            id="task_{{task.id}}"
            task_id="{{task.id}}">{{ task.text }}
          </td>
        </tr>
{% endfor %}
      </table>
    </form>
  </main>
</body>

</html>
